.full-screen {
    background: url('../../assets/background/login.svg');
    background-size: cover;
}

.login-container {
    margin-top: 40vh;
}

.title {
    text-align: center;
    font-size: 4em;
    font-family: 'Rouge Script', cursive;
}

.sub-title {
    text-align: center;
}

.actions {
    margin: 30px 20px;

    .login-button {
        i {
            margin-right: 10px;
            font-size: 1.5em;
        }
    }
}