.back-button {
    position: absolute;
    top: 20px;
    left: 20px;

    i {
        font-size: 1.5em;
    }
}

.full-screen {
    padding: 15px;
}

.title {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

.sub-title {
    margin-top: 10px;
    text-align: center;
}

.form {
    margin-top: 40px;
}

.actions {
    margin-top: 40px;
}