<ion-header>
    <ion-toolbar>
      <ion-title>
        Firestore Image Upload
      </ion-title>
    </ion-toolbar>
</ion-header>
   
  <ion-content padding>
      <div class="full-screen">
          <div class="title">Add Product</div>
          <div class="sub-title">Select Product Images</div>
          <div class="photos">
              <div class="add-photo" (click)="takeSnap()">
                  <div class="add-photo-frame">
                    
                  </div>
              </div>
              <!-- <div class="loadSelectedPhotos" *ngIf="dataService?.allImageToShow?.length > 0">
                <div class="photo" *ngFor="let item of dataService?.allImageToShow">
                    <img
                        [src]="item"
                        alt
                    >
                </div>
              </div> -->
          </div>
          <div class="gridAlign">
          <ion-grid class="grid-categories" *ngIf="dataService?.allImageToShow?.length>0">
            <ion-row *ngFor="let item of dataService?.allImageToShow; let i = index">
              <ion-col *ngIf="i % 2 == 0">
                <img [src]="item" />
              </ion-col>
            </ion-row>
          </ion-grid>
        
          <ion-grid class="grid-categories" *ngIf="dataService?.allImageToShow?.length>0">
            <ion-row *ngFor="let item of dataService?.allImageToShow; let i = index" >
              <ion-col *ngIf="i % 2 != 0">
                <img [src]="item" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="logoutAlign">
          <ion-grid>
                <ion-row>
                  <ion-col size="12">
                        <ion-button shape="round" (click)="logout()" >Logout</ion-button>
                  </ion-col>
                </ion-row>
           </ion-grid>
        </div>
        <ion-button expand="block" class="login-button" (click)="productDetails()"> Next </ion-button>
      </div>
      
  </ion-content>